
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">color</th>
            <th scope="col">Car Type</th>
            <th scope="col">Plate Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of carData">
            <td>{{car['make']}}</td>
            <td>{{car['model']}}</td>
            <td>{{car['year']}}</td>
            <td>{{car['color']}}</td>
            <td>{{car['type']}}</td>
            <td>{{car['licencePlateNum']}}</td>
            <td><button type="button" class="btn btn-outline-danger" (click)="deleteCar(car['_id'])"><i class="far fa-trash-alt"></i></button></td>
            <td><button type="button" class="btn btn-outline-info" routerLink="/settings/update-A-Vehicles/{{car['_id']}}"><i class="fas fa-edit"></i></button></td>
          </tr>
        </tbody>
      </table>
</div>

<a routerLink="/settings/add-A-Vehicles">Add a new vehicle</a>