<div>
  <div class="container-fluid">
    <br>
    <div class="grand-parent">
      <div class="parent">
        <div class="block">
          <a routerLink="/trips/upcoming">Trips</a>
        </div>
        <div class="block">
          <a routerLink="/trips/requests">Request</a>
        </div>
        <div class="block">
          <a routerLink="/trips/archive">Archive</a>
        </div>
      </div>
      <hr>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>