<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right settings mt-3">
        <app-account-settings></app-account-settings>
    </div>

    <div class="col-sm col-md col-lg col-xl mt-3  ">

        <div class="p-4 m-4">
        <h2><b>Personal details</b></h2>

        <div class="pl-4 pt-4">
        <h4><p>Phone number: +1 555-555-5555</p></h4>
        <button type="submit" class="rounded btns ">Change</button>
           <button type="submit" class="rounded btns ml-3 bg-danger ">remove</button>
        <table style="width:100%">
          <tr>
            <td><h4><p>First name:</p></h4></td>
            <td><input type="text" class="rounded" ></td>
          </tr>
          <tr>
            <td><h4><p>Last name:</p></h4></td>
            <td> <input type="text" class="rounded" ></td>
          </tr>
        </table>




</div>

  </div>
</div>
