<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-12 col-md-3 Padding-25 margin-all">
      <!-- <div class="card" style="width: 18rem;"> -->
        <!-- <div class="card-body"> -->
          <h4>Account Settings</h4>
          <br>
          <div>
            <a routerLink="/settings/personaldetails" >Personal Details</a>
            <br>
            <a >Account Details</a>
            <br>
            <a routerLink="/settings/payment" >Payment</a>
            <br>
            <a routerLink="/settings/vehicles" >Vehicles</a>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="container-fluid" style="margin-top: 25px">
        <router-outlet></router-outlet>

        <div *ngIf="message" class="alert alert-primary m-5" role="alert">
             User information sucessful updated!
       </div>
      </div>
    </div>
  </div>
</div>
