<div class="container-fluid bg-info text-white">
  <div class="row bg-img-3 ">
    <div class="col-sm-4 p-3 text-center pt-3">
      <h3 clas='m-2'> {{this.tripData.driver.firstName}} {{this.tripData.driver.lastName}}</h3>
      <i class="fas fa-map-marker-alt m-2"></i> From: {{this.tripData.from.name}} <br>
      student at George Brown College
      <div class="mt-5">
        <button class="rounded m-1 p-2 btn btn-danger border" (click)="open(content)" type="button"><i class="fas fa-envelope mr-2"></i> Send a
          message</button>
      </div>
    </div>
    <div class="col-sm-4 pt-2 text-center profileInfo">
      <img [src]="tripData.driver.imageUrl" class="profile rounded-circle mx-auto d-block mt-4" alt="driver" width="150"
        height="150">


      <h4 class="mt-2">CAD$ {{tripData.cost}}</h4>
    </div>
    <div class="col-sm p-4 pt-2 profileInfo text-center">
      <div class="text-warning">
        <h1>
          <ngb-rating [rate]="4"></ngb-rating>
        </h1>
      </div>
      <i class="fas fa-road fa-2x"></i> 2 Trips shared

      <div class="mt-5">
        <button class="rounded m-1 p-2 btn btn-primary border " type="button"><i class="fas fa-bell mr-2"></i>Send a
          request</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid ">
  <div class="row m-5 p-2 border rounded text-center">
    <div class="col-sm-6 col-md-4 col-md-4 ">
      <i class="fas fa-map-marker-alt m-2 fa-2x"></i> <b>From:</b> {{tripData.from.name}}
    </div>
    <div class="col-sm-6 col-md-4 col-md-4  ">
      <i class="fas fa-map-marker-alt m-2 fa-2x"></i> <b>To:</b> {{tripData.to.name}}
    </div>
    <div class="col-sm-6 col-md-4 col-md-4  ">
      <i class="fas fa-calendar-alt m-2 fa-2x"></i> <b>Date:</b> {{tripData.departureTime}}
    </div>
  </div>
  <div class="row m-5 p-2 border rounded text-center">
    <div class="col-sm-6">
      <i class="fas fa-calendar-alt m-2 fa-2x"></i> <b>Pick-up location:</b> {{tripData.from.name}},
      {{tripData.from.location.state}}
    </div>
    <div class="col-sm-6">
      <i class="far fa-clock m-2 fa-2x"></i> <b>Pick-up time:</b> {{time}}
    </div>
  </div>
  <div class="row m-5 p-2 border rounded text-center">
    <div class="col-sm-6">
      <i class="fas fa-map-marker-alt m-2 fa-2x"></i><b> Drop-off location:</b> {{tripData.to.name}},
      {{tripData.to.location.state}}
    </div>
    <div class="col-sm-6">
      <i class="fas fa-car-side fa-2x m-2"></i> <b>Seats Avaliable:</b> {{tripData.seatsAvailable}}
    </div>
  </div>
</div>
<div class="container-fluid mb-2">
  <div class="row text-center">
    <div class="col-sm-6 ">
      {{car.vehicle.make}} {{car.vehicle.model}} {{car.vehicle.year}}
      <img [src]="car.vehicle.imageURL" class="profile rounded mx-auto d-block mt-4" alt="driver" width="350"
        height="250">
    </div>
    <div class="mapshow col-sm-6 mt-5 text-center">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map id="map" [latitude]="latitude" [longitude]="longitude">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>


    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send Message to {{this.tripData.driver.firstName}} {{this.tripData.driver.lastName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-outline-dark" (click)="modal.close('Save click')">Send</button>
  </div>
</ng-template>
