<div class="info-trip">
  <div id="trips" class="border rounded bg-light">
    <div class="trip-info-block">
      <div class="row justify-content-center">
        <div class="col-sm col-md-2 col-lg-2  text-center border-right pt-2">
          Montreal <br>
          <i class="fas fa-arrow-down"></i><br>
          Toronto
        </div>
        <div class="col-sm col-md-3 col-lg-4 text-center border-right pt-4">
          <div class="row">
            <div class="col">
              Departure: <br>
              Departure Time HERE
            </div>
          </div>
        </div>
        <div class="col-sm col-md-4 col-lg-4  border-right text-center pt-4">
          <h6>Passengers</h6>
        </div>
        <div class="col-sm col-md-2 col-lg-2 text-center pt-2">
          <br>
          <h5>CAD $213</h5>
        </div>
      </div>
    </div>
  </div>
</div>