<div class="container minheight80">
  <div>
    <button type="button" class="btn btn-md btn-outline-dark mt-3" (click)="open(content)">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <h6 class="text-right mt-1">Name</h6>
        </div>
        <div class="col-sm-9 col-md-9">
          <p class="text-left">This is the message thats goint to sadkaljsdkjahsdkj haskjdhakjshdklajdshlka
            ksjdhaksjdhkajsdhkajshdkjasdha
            skjdhaksdjhaksjdhkajsdhaksjd
          </p>
        </div>
      </div>
    </button>
  </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Chat Messages</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container">
      <h6>Recieved Messages</h6>
      <div *ngFor="let recieved of this.messageData['recieved']">
        <div class="row">
          <div class="col-sm-10">
              <p>{{recieved.message}}</p>
              <span class="time-right">11:00</span>
          </div>
          <div class="col-sm-2">
              <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="avatar" style="height:35px; width:35px; border-radius: 50%;">
          </div>
        </div>
      </div>
    </div>
    <hr style="color:black">
    <div class="container">
      <h6>Send Messages</h6>
      <div *ngFor="let sent of this.messageData['sent']">
        <div class="row">
          <div class="col-sm-2">
            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="avatar" style="height:35px; width:35px; border-radius: 50%;">
          </div>
          <div class="col-sm-10">
            <p>{{sent.message}}</p>
            <p class="text-right">{{sent.time | date : "medium"}}</p>
          </div>
        </div>
      </div>
    </div>
    <form class="form-group" #msg="ngForm">
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <textarea class="form-control" id="message" name="message" rows="2"></textarea>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-outline-dark" (click)="sendMessage()">Reply</button>
        <button type="button" class="btn btn-md btn-outline-danger" (click)="delete()">Delete Message</button>
        <button type="button" class="btn btn-md btn-outline-info" (click)="modal.close('Save click')">Close</button>
      </div>
    </form>
  </ng-template>
  