.borders{
  border-right: 2px solid grey;
  font-size: 20px;
  cursor:pointer;
}
.bordersSide{
  font-size: 20px;
  cursor:pointer;
}
.trips{
  color: #79C753;
}
.messages{
  color:#00539C;

}

.profile:hover {
  opacity: 0.8;
  cursor: pointer;
}



@media only screen and (max-width: 600px) {
.profileInfo{
  text-align: center !important ;
  padding-top: 0% !important;
}
.cards{
  margin:0px !important ;
  padding: 0% !important ;
}
.borders{
  border-right: 0px;
  border-bottom: 1px solid grey;
  text-align: left;
  padding: 2px;
}
.bordersSide{
  border-right: 0px;
  border-bottom: 1px solid grey;
  text-align: left;
  padding: 2px;

}


}
