<div class="container-fluid">
  <h3>Personal Details</h3>
  <br>
  <div class="row">
    <div class="col-12">
        <form (ngSubmit)="onSubmit()" #updateForm="ngForm">
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel">
              </div>
              <div class="form-group col-sm-12 col-md-6">
                <label for="inputEmail4">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel">
              </div>
            </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-12">
                      <label for="inputEmail4">Phone Number</label>
                      <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="user.phoneNumber" name="phoneNumber" #phoneNumber="ngModel">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6">
                      <label for="inputEmail4">City</label>
                      <input type="text" class="form-control" placeholder="city" [(ngModel)]="user.city" name="city" #city="ngModel">
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                      <label for="inputEmail4">Province</label>
                      <input type="text" class="form-control" placeholder="province" [(ngModel)]="user.province" name="province" #province="ngModel">
                    </div>
                </div>                    
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Country</label>
                      <input type="text" class="form-control" placeholder="country" [(ngModel)]="user.country" name="country" #country="ngModel">
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="inputEmail4">Date of Birth (DD/MM/YYYY)</label>
                      <input type="text" class="form-control" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel">
                    </div> 
                    
                </div>
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-12">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control rounded" id="exampleFormControlTextarea1" rows="7" [(ngModel)]="user.description" name="description" #description="ngModel"></textarea>
                </div>
            </div>

            <button type="Submit" class="btn btn-secondary">Update</button>



          </form>
          <br>
    </div>
  </div>
</div>
