<div class="container-fluid">
  <h3>Personal Details</h3>
  <br>
  <div class="row">
    <div class="col-12 col-sm-7">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="text" class="form-control" placeholder="First Name">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Phone Number</label>
                      <input type="text" class="form-control" placeholder="Phone Number">
                    </div>
                  </div>
            <p class="mb-1" >Date Of Birth</p>
            <div class="form-row">
              <div class="form-group col-md-2 col-3">
                <input type="text" class="form-control" placeholder="DD" >
              </div>
              <div class="form-group col-md-2 col-3">
                  <input type="text" class="form-control" placeholder="MM">
              </div>
              <div class="form-group col-md-3 col-6">
                <input type="text" class="form-control" placeholder="YYYY">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control rounded" id="exampleFormControlTextarea1" rows="7"></textarea>
                </div>
            </div>
          </form>
          <br>
          <button class="prim-btn rounded" >Update profile</button>
          <br><br>
    </div>
    <div class="col-sm-4">
      <div class="userImage rounded">Upload your iamge</div>
    </div>
  </div>
</div>
