<!-- <div class="container-fluid mb-5">
  <h3>Your Vehicles</h3><br>
  <div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="http://lorempixel.com/200/100/" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Toyota Supra</h5>
            </div>
            <div class="card-footer">
              <button class="btn-secondary pl-4 pr-4 pt-2 pb-2 rounded">Edit</button>
              <button class="ml-1 btn-danger pl-4 pr-4 pt-2 pb-2 rounded">Delete</button>
            </div>
          </div>
    </div>
  </div>
  
  
  <br> -->
  <h4>Add a vehicle</h4>

  <!-- <button class="rounded btn-secondary pl-5 pr-5 pt-2 pb-2">Create Vehicle</button> -->
  <form class="form-group" #carReg="ngForm">
      <div class="row">
          <div class="col-sm-12 col-md-8">
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Make</label>
                    <input type="text" class="form-control rounded" id="inputEmail4" name="make" [(ngModel)]="car.make" #make=ngModel placeholder="Make">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Model</label>
                      <input type="text" class="form-control rounded" id="inputEmail4" name="model" [(ngModel)]="car.model" #model=ngModel placeholder="Model">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Year</label>
                      <input type="text" class="form-control rounded" id="inputEmail4" name="year" [(ngModel)]="car.year" #year=ngModel placeholder="Year">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Color</label>
                        <input type="text" class="form-control rounded" id="inputEmail4" name="color" [(ngModel)]="car.color" #color=ngModel placeholder="Color">
                    </div>
              </div>
          </div>
          <div class="col-sm-8 col-md-4">
              <div class="veh-image img-responsive mt-4" (click)="chooseImages()">
                  <label for="avatar">Add a picture of your car</label>
                  <div style="display: none">
                    <input type="file" id="uploadImg" name="image" accept="image/png, image/jpeg">
                  </div>
              </div>
          </div>
          
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Type</label>
                  <input type="text" class="form-control rounded" id="inputEmail4" name="type" [(ngModel)]="car.type" #type=ngModel placeholder="Type">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">License Plate</label>
                    <input type="text" class="form-control rounded" id="inputEmail4" name="licencePlateNum" [(ngModel)]="car.licencePlateNum" #licencePlateNum=ngModel placeholder="License Plate">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Seat Capacity</label>
                    <input type="text" class="form-control rounded" id="inputEmail4" name=seatCapacity [(ngModel)]="car.seatCapacity" #seatCapacity=ngModel placeholder="Seat Capacity">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Luggage Capacity</label>
                    <input type="text" class="form-control rounded" id="inputEmail4" name=luggageCapacity [(ngModel)]="car.luggageCapacity" #luggageCapacity=ngModel placeholder="Luggage Capacity">
                </div>
            </div>
        </div>
      </div>
      <br>
      <button class="prim-btn rounded" (click)="addCar()" >Submit</button>
  
</form>