<br>
<br>
<br>
<br>
<div class="container">
  <div class="form-group" #usrLogin="">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div *ngIf="message !='Sucessful'" class="panel panel-heading">
            <h2 class="panel-title">Please Login to continue</h2>
        </div>
        <div *ngIf="loginError" class="alert alert-danger" role="alert">
  Incorrect username/ password
</div>
        <div *ngIf="message =='Sucessful'" class="panel panel-heading">
            <h2 class="panel-title">Please Login with your brand new account!</h2>
        </div>
        <br>
      <div class="col-sm text-center">
        <div class="form-group">
            <!-- <input type="email" name="email" id="email" (change)="log(email)" [pattern]="emailPattern" class="form-control input-sm" placeholder="Email Address" #usr required> -->
            <input type="email" placeholder="email" #usr required>
            <!-- <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.pattern">Not a valid email</div>
            </div> -->
        </div>
      </div>
      <div class="col-sm text-center">
          <div class="form-group">
              <!-- <input type="text" name="password" id="password" minlength="8" #password="ngModel" (change)="log(password)"[(ngModel)]="user.password" class="form-control input-sm" placeholder="Password" #pwd required> -->
              <input type="password" placeholder="password" #pwd required>
              <!-- <div  *ngIf="!password.valid && password.touched" class="alert alert-danger">
                <div *ngIf="password.errors.required">Password is requried</div>
                <div *ngIf="password.errors.minlength">Password must be atleaset 8 charcters long</div>
                <div *ngIf="password.errors.pattern">Password Pattern Does not match</div>
              </div> -->
          </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <button class="form-control btn-success" (click)="logUser(usr.value, pwd.value)" >Login</button>
            </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
