<html lang="en">
   <head>
      <title>City Hopper</title>
      <meta charset="UTF-8">
      <meta name="" content="">
      <meta name="" content="">
      <meta name="" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>


     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   </head>
<body>




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../../../assets/logo.png" class="rounded mx-auto p-3 d-block logo" alt="rider" width="5%">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a  class="nav-link" routerLink="" routerLinkActive="active">Home</a>
      </li>
         <li class="nav-item">
      <a *ngIf="this.authinticateService.getUserDetails()" class="nav-link" routerLink="profilePage" >Profile Page</a>
      </li>
      <li class="nav-item">
        <a  *ngIf="!this.authinticateService.getUserDetails()" class="nav-link" href="#">How it works</a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0 initialNav">
      <!-- This is the Navbar for users that did not login yet only! class= loginBtn -->
      <div *ngIf= '!this.authinticateService.getUserDetails()'>
      <button class="btn btn-outline-dark  " routerLink="/register"  type="submit">Register</button>
      <button class="btn btn-outline-dark bg-dark text-white ml-3  btn2" routerLink="/login"  type="submit">Login</button>
      </div>
      <!-- This is the Navbar for logged users only! class=logoutBtn -->
      <button *ngIf="this.authinticateService.getUserDetails()" (click)="logout()" class="btn btn-outline-dark  "   type="submit">Logout</button>
    </form>
  </div>
</nav>








