<html lang="en">
   <head>
      <title>City Hopper</title>
      <meta charset="UTF-8">
      <meta name="" content="">
      <meta name="" content="">
      <meta name="" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   </head>
<body>




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../../../assets/logo.png" class="rounded mx-auto p-3 d-block logo" alt="rider" width="7%">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">How it works</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 initialNav">
      <!-- This is the Navbar for users that did not login yet only! class= loginBtn -->
      <button class="btn btn-outline-dark mr-3 p-2 my-2 my-sm-0" type="submit"><h4>Register</h4></button>
      <button class="btn btn-outline-light ml-2 mr-4 p-2 pl-3 pr-3 my-2 my-sm-0 btn2" type="submit"><h4>Login</h4></button>
      <!-- This is the Navbar for logged users only! class=logoutBtn -->
      <!--  <button class="btn btn-outline-light ml-2 mr-4 p-2 pl-3 pr-3 my-2 my-sm-0 btn2" type="submit"><h4>Logout</h4></button>-->
    </form>
  </div>
</nav>








