<h4>Password Settings</h4>
<br>
<form class="form-group" #updPass="ngForm">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <label>Current Password</label>
      <input type="text" class="form-control" #password placeholder="Enter Current password"/>
      <small style="color:red">{{this.errorMessage2}}</small>
    </div>
    <div class="col-sm-12 col-md-8 mt-4">
        <label>New Password</label>
        <input type="text" class="form-control"  #newPassword placeholder="Enter Current password"/>
        <small *ngIf="newPassword != rePassword" style="color: red">{{this.errorMessage}}</small>
      </div>
    <div class="col-sm-12 col-md-8 mt-2">
      <label>Re-Enter Password</label>
      <input type="text" class="form-control" #rePassword placeholder="Enter Current password"/>
      <small *ngIf="newPassword != rePassword" style="color: red">{{this.errorMessage}}</small>
    </div>
    <div class="col-md-4"></div>
    <div class="col-sm-4 col-md-4 mt-3">
      <button type="submit"  (click)="updatePass(password, newPassword, rePassword)" class="btn btn-success">Change Password</button>
    </div>
  </div>
</form>