<h4>Password Settings</h4>
<br>
<form class="form-group">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <label>Current Password</label>
      <input type="text" class="form-control" placeholder="Enter Current password"/>
    </div>
    <div class="col-sm-12 col-md-8 mt-4">
        <label>New Password</label>
        <input type="text" class="form-control" placeholder="Enter Current password"/>
      </div>
    <div class="col-sm-12 col-md-8 mt-2">
      <label>Re-Enter Password</label>
      <input type="text" class="form-control" placeholder="Enter Current password"/>
    </div>
    <div class="col-md-4"></div>
    <div class="col-sm-4 col-md-4 mt-3">
      <button type="submit" class="btn btn-success">Change Password</button>
    </div>
  </div>
</form>