
  <div class="info-trip">
      <div id="trips" class="border rounded bg-light">
      <div class="trip-info-block">
        <div class="row justify-content-center">
            <div class="col-sm col-md-2 col-lg-2  text-center border-right pt-2">
                Montreal <br>
                <i class="fas fa-arrow-down"></i><br>
                Toronto
            </div>
            <div class="col-sm col-md-3 col-lg-4 text-center border-right pt-4">
             <div class="row">
                <div class="col">
                  Departure: <br>
                  Departure Time HERE
                </div>
            </div>
          </div>
             <div class="col-sm col-md-2 col-lg-2  text-center ">
                  <img src="" class="profile rounded-circle mx-auto d-block " alt="driver" width="100" height="100">
              </div>
              <div class="col-sm col-md-2 col-lg-2  border-right text-center pt-4">
                  FirstNAme LastName <br>
                  <ngb-rating [rate]=rating></ngb-rating>
              </div>
                 <div class="col-sm col-md-2 col-lg-2 text-center pt-2">
                   <button class="btn btn-primary btn-sm" > Accept</button><br><br>
                   <button class="btn btn-danger btn-sm" > Decline</button>
              </div>
        </div>
      </div>
      </div>
  </div> 