.trip-info-block {
  display: flex;
  flex-flow: row;
  height: 175px;
  border-radius: 10px;
  border: 2px rgb(182, 182, 182) solid;
  max-width: 91%;
}

.places {
  width: 20%;
}

.departure-arrival {
  width: 30%;
  justify-content: center;
  align-items: center;
}

.user-info {
  width: 30%;

}

.user-image {
  max-height: 125px;
  max-width: auto;
}

.trip-cost {
  width: 20%;
  justify-content: center;
  align-items: center;
}