<div class="info-trip mt-3" *ngFor="let data of trips | filter : filterargs">
  <div id="trips" class="border rounded bg-light">
    <div class="trip-info-block">
      <div>
        <div class="row justify-content-center mt-2">
          <div class="col-sm col-md-2 col-lg-2  text-center border-right pt-2">
            {{data.from}} <br>
            <i class="fas fa-arrow-down"></i><br>
            {{data.to}}
          </div>
          <div class="col-sm col-md-3 col-lg-4 text-center border-right pt-4">
            <div class="row">
              <div class="col">
                <b>User Message:</b>
                <p>{{data.request.additionalDetails}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-2 col-lg-2  text-center ">
            <img src="{{data.user.image}}" class="profile rounded-circle mx-auto d-block " alt="driver" width="100"
              height="100">
          </div>
          <div class="col-sm col-md-2 col-lg-2  border-right text-center pt-4">
            {{data.user.firstName}} {{data.user.lastName}} <br>
            <!-- <ngb-rating [rate]=rating></ngb-rating> -->
          </div>
          <div class="col-sm col-md-2 col-lg-2 text-center pt-2">
            <div *ngIf="data.request.Confirmed == null">
              <button class="btn btn-primary btn-sm" (click)="acceptTripRequest(data.request._id)">
                Accept</button><br><br>
              <button class="btn btn-danger btn-sm" (click)="declineTripRequest(data.request._id)"> Decline</button>
            </div>
            <div *ngIf="data.request.Confirmed != null">
              <h4 class="mb-4 mt-4 confirmed" *ngIf="data.request.Confirmed == true"> Accepted </h4>
              <h4 class="mb-4 mt-4 declined" *ngIf="data.request.Confirmed == false"> Declined </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>