<div>
  <div>
    <div class="trip-info-block">
      <div class="places">
        <p>Toronto</p>
        <p>to</p>
        <p>Vancouver</p>
      </div>
      <div class="departure-arrival">
        <div class="row">
          <div class="col-sm-6">
            <h5>Departure</h5>
            <p>Address Line 1 <br>Address Line 2</p>
          </div>
          <div class="col-sm-6">
            <p>Date</p>
            time
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h5>Arrival</h5>
            <p>Address Line 1 <br>Address Line 2</p>
          </div>
          <div class="col-sm-6">
            hide-actions
          </div>
        </div>
      </div>
      <div class="user-info">
        <div class="user-image rounder-circle">
          <img src="" alt="">
        </div>
      </div>
      <div class="trip-cost">

      </div>
    </div>
  </div>
</div>