/* You can add global styles to this file, and also import other style files */

.margin-all{
    margin: 25px 5px 25px 50px;
}

.minheight80{
    min-height: 80vh;
}

.padding-right10{
    padding-left: 25px;
}