  <div class="row m-4">
    <div class="col-sm-12 col-lg-6  text-center"><h3>Find your perfect trip</h3></div>
    <div class="col"></div>
  </div>

<div class="m-4 text-center">
      <div class="text-center ">
      <div *ngIf="message" class="alert alert-danger" role="alert">
        {{message}}
      </div>
        <form (ngSubmit)="onSubmit(from,to,date)" #searchForm="ngForm">
          <input type="text" class="rounded"  placeholder='&#xf3c5; From' autocorrect="off" autocapitalize="off" spellcheck="off"  name="from"  #from [formControl]="searchControl" >
          <i *ngIf="!mobile" class="fas fa-chevron-circle-right m-3 fa-2x"></i>
          <i *ngIf="mobile"class="fas fa-chevron-circle-down m-3 fa-2x"></i>
            <input type="text" class="rounded"  placeholder="&#xf5a0; To" autocorrect="off" autocapitalize="off" spellcheck="off"  name="to"  #to [formControl]="searchControl">
            <input id="d" type="text" class="rounded" ngModel #date name="date"  #date="ngModel" ngbDatepicker #d="ngbDatepicker" >

            <button class="rounded m-1 p-2 " (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt text-white"></i></button>

          <h5><button type="submit" class="rounded m-3 p-2 ">Let's go!</button></h5>
        </form>
      </div>
</div>

<ng-container *ngIf="!searchValidation">
<div *ngFor="let data of trips | filter : filterargs" class="rounded m-5 p-2 bg-light">
<div class="container-fluid">
  <div class="row " (click)="viewTrip(data._id)">
      <div class="col-sm col-md-2 col-lg-2  text-center border-right pt-2">
          {{data.from.name}} <br>
          <i class="fas fa-arrow-down"></i><br>
          {{data.to.name}}
      </div>
      <div class="col-sm col-md-3 col-lg-4 text-center border-right pt-4">
       <div class="row">
          <div class="col">
            Departure: <br>
            {{data.departureTime}}
          </div>
      </div>
    </div>
       <div class="col-sm col-md-2 col-lg-2  text-center ">
            <img src="{{data.driver.imageUrl}}" class="profile rounded-circle mx-auto d-block " alt="driver" width="100" height="100">
        </div>
        <div class="col-sm col-md-2 col-lg-2  border-right text-center pt-4">
            {{data.driver.firstName}} {{data.driver.lastName}} <br>
            <ngb-rating [rate]=rating></ngb-rating>
        </div>
           <div class="col-sm col-md-2 col-lg-2 text-center pt-4 ">
            $CAD {{data.cost}}<br>
            Seats avaliable: {{data.seatsAvailable}}
        </div>
  </div>
</div>
</div>
</ng-container>

<ng-container *ngIf="searchValidation">
<div *ngFor="let data of search | filter : filterargs" class="rounded m-5 p-2 bg-light">
<div class="container-fluid">
  <div class="row" (click)="viewTrip(data._id)">
      <div class="col-sm col-md-2 col-lg-2  text-center border-right pt-2">
          {{data.from.name}} <br>
          <i class="fas fa-arrow-down"></i><br>
          {{data.to.name}}
      </div>
      <div class="col-sm col-md-3 col-lg-4 text-center border-right pt-4">
       <div class="row">
          <div class="col">
            Departure: <br>
            {{data.departureTime}}
          </div>
      </div>
    </div>
       <div class="col-sm col-md-2 col-lg-2  text-center ">
            <img src="{{data.driver.imageUrl}}" class="profile rounded-circle mx-auto d-block " alt="driver" width="100" height="100">
        </div>
        <div class="col-sm col-md-2 col-lg-2  border-right text-center pt-4">
            {{data.driver.firstName}} {{data.driver.lastName}} <br>
            <ngb-rating [rate]=ratings></ngb-rating>
        </div>
           <div class="col-sm col-md-2 col-lg-2 text-center pt-4 ">
            $CAD{{data.cost}}
            Seats Avaliable: {{data.seats}}
        </div>
  </div>
</div>
</div>
</ng-container>

